{% extends "layout.html" %} {% block content %}
<section class="section">
  <div class="field">
    <form action="" method="post">
      <label class="label is-medium">First Player</label>
      <div class="control">
        <input class="input is-medium" list="player1" />
        <datalist id="player1">
          {% for name in player_names%}
          <option value="{{name}}">{{name}}</option>
          {% endfor %}
        </datalist>
      </div>
      <label class="label is-medium">Second Player</label>
      <div class="control">
        <input class="input is-medium" list="player2" />
        <datalist id="player2">
          {% for name in player_names%}
          <option value="{{name}}">{{name}}</option>
          {% endfor %}
        </datalist>
      </div>
      <div class="control">
        <input class="input" type="submit" value="Compare" />
      </div>
    </form>
  </div>
</section>
{% endblock %}
