{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="field">
    <form action="" method="POST" autocomplete="off">
      <label class="label is-medium">First Player</label>
      <div class="control">
        <input class="input is-small" list="player1" name="player1" />
        <datalist id="player1">
          {% for name in player_names%}
          <option value="{{name}}">{{name}}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="field">
      <label class="label is-medium">Second Player</label>
      <div class="control">
        <input class="input is-small" list="player2" name="player2" />
        <datalist id="player2">
          {% for name in player_names%}
          <option value="{{name}}">{{name}}</option>
          {% endfor %}
        </datalist>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Compare</button>
      </div>
    </form>
  </div>
    <div class="columns">
      <div class="column">
        <ul>
        {% for key, value in player1.items() %}
          {% for key2, value2 in value.items() %}
            {% if key2|int == id1 %}
              <li>{{key}}: {{value2}}</li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
      </div>
      <div class="column">
        <ul>
        {% for key, value in player2.items() %}
          {% for key2, value2 in value.items() %}
            {% if key2|int == id2 %}
              <li>{{key}}: {{value2}}</li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}
