{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title is-primary">
        Compare the stats of your favorite NHL players!
      </h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <a href="compare/skaters">
        <button class="button is is-primary is-fullwidth is-medium">
          Compare Skaters
        </button>
      </a>
    </div>
    <div class="column">
      <a href="compare/goalies">
        <button class="button is-primary is-fullwidth is-medium">
          Compare Goalies
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
