<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NHL Player Comparison</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>
  <section class="hero is-bold is-success">
    <div class="hero-body">
      <p class="title">NHL Player Comparison</p>
      <p class="subtitle">
        Find and compare the stats of your favorite NHL players!
      </p>
    </div>
  </section>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Hello World</h1>
        <p class="subtitle">My first website with <strong>Bulma</strong>!</p>
        <div class="table-container">
          <table class="table is-striped is-hoverable">
            <thread>
              <tr>
                {% for col in column_names %}
                <th>{{col}}</th>
                {% endfor %}
              </tr>
            </thread>
            <tbody>
              {% for row in row_data %}
              <tr>
                {% for col, row_ in zip(column_names, row) %}
                <td>{{row_}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
