<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NHL Player Comparison</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  </head>

  <section class="hero is-bold is-success">
    <div class="hero-body">
      <p class="title">NHL Player Comparison</p>
      <p class="subtitle">
        Find and compare the stats of your favorite NHL players!
      </p>
    </div>
  </section>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/"> Home </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Compare </a>

          <div class="navbar-dropdown">
            <a class="navbar-item"> Skaters </a>
            <a class="navbar-item"> Goalies </a>
          </div>
        </div>
        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> All Stats </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/stats/skaters"> Skaters </a>
            <a class="navbar-item"> Goalies </a>
            </div>
      <a class="navbar-item"> About </a>
    </div>
  </nav>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
